<% include partials/header %>

<div class="container my-5">

    <section class="team-section pb-5">

    <!--Section heading-->
    <h2 class="h1 text-center py-5">Overall Votes</h2>

    <!-- Grid row -->
    <div class="row text-center">

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card card-body">
                <div class="avatar mx-auto my-3">
                    <img style="height : 230px !important; width : 230px !important; object-fit: cover !important;" src="/media/ninja.png" class="rounded-circle img-fluid" alt="First sample avatar image">
                </div>
                <h5 class="font-weight-bold">
                    <strong>Effie Akinyi</strong>
                </h5>
                <p class="grey-text">Honor Council</p>
                <h6 class="font-weight-bold">
                    <strong> <%=total1.effie%> </strong>
                </h6>
            </div>
        </div>
       

        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card card-body">
                <div class="avatar mx-auto my-3">
                    <img style="height : 230px !important; width : 230px !important; object-fit: cover !important;" src="/media/ninja.png" class="rounded-circle img-fluid" alt="First sample avatar image">
                </div>
                <h5 class="font-weight-bold">
                    <strong>Cecile Matabaro</strong>
                </h5>
                <p class="grey-text">Honor Council</p>
                <h6 class="font-weight-bold">
                    <strong><%=total6.cecile%></strong>
                </h6>
            </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card card-body">
                <div class="avatar mx-auto my-3">
                    <img style="height : 230px !important; width : 230px !important; object-fit: cover !important;" src="/media/ninja.png" class="rounded-circle img-fluid" alt="First sample avatar image">
                </div>
                <h5 class="font-weight-bold">
                    <strong>Justice Ripinga</strong>
                </h5>
                <p class="grey-text">Honor Council</p>
                <h6 class="font-weight-bold">
                    <strong><%=total5.justice%> </strong>
                </h6>
            </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card card-body">
                <div class="avatar mx-auto my-3">
                    <img style="height : 230px !important; width : 230px !important; object-fit: cover !important;" src="/media/ninja.png" class="rounded-circle img-fluid" alt="First sample avatar image">
                </div>
                <h5 class="font-weight-bold">
                    <strong>Ayomikun Oluwalana</strong>
                </h5>
                <p class="grey-text">Honor Council</p>
                <h6 class="font-weight-bold">
                    <strong><%=total.ayomikun%> </strong>
                </h6>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card card-body">
                <div class="avatar mx-auto my-3">
                    <img style="height : 230px !important; width : 230px !important; object-fit: cover !important;" src="/media/ninja.png" class="rounded-circle img-fluid" alt="First sample avatar image">
                </div>
                <h5 class="font-weight-bold">
                    <strong>Aniaba Moaye</strong>
                </h5>
                <p class="grey-text">Honor Council</p>
                <h6 class="font-weight-bold">
                    <strong> <%=total4.aniaba%> </strong>
                </h6>
            </div>
        </div>
       

        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card card-body">
                <div class="avatar mx-auto my-3">
                    <img style="height : 230px !important; width : 230px !important; object-fit: cover !important;" src="/media/ninja.png" class="rounded-circle img-fluid" alt="First sample avatar image">
                </div>
                <h5 class="font-weight-bold">
                    <strong>Kaddija Keita</strong>
                </h5>
                <p class="grey-text">Honor Council</p>
                <h6 class="font-weight-bold">
                    <strong><%=total7.kaddija%> </strong>
                </h6>
            </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card card-body">
                <div class="avatar mx-auto my-3">
                    <img style="height : 230px !important; width : 230px !important; object-fit: cover !important;" src="/media/ninja.png" class="rounded-circle img-fluid" alt="First sample avatar image">
                </div>
                <h5 class="font-weight-bold">
                    <strong>Mayowa Akinkugbe</strong>
                </h5>
                <p class="grey-text">Honor Council</p>
                <h6 class="font-weight-bold">
                    <strong><%=total2.oluwamayowa%></strong>
                </h6>
            </div>
        </div>
        <!-- Grid column -->
<!-- 
         Grid column -->
     <div class="col-lg-3 col-md-6 mb-4">
            <div class="card card-body">
                <div class="avatar mx-auto my-3">
                    <img style="height : 230px !important; width : 230px !important; object-fit: cover !important;" src="/media/ninja.png" class="rounded-circle img-fluid" alt="First sample avatar image">
                </div>
                <h5 class="font-weight-bold">
                    <strong>Miche Williams</strong>
                </h5>
                <p class="grey-text">Honor Council</p>
                <h6 class="font-weight-bold">
                    <strong><%=total3.miche%> </strong>
                </h6>
            </div>
        </div> 

        
     

        
        

        
       
       

        <!-- Grid column -->

        <!-- Grid column -->
       
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
       
        <!-- Grid column -->

       


    </div>
    <!-- Grid row -->

</section>

</div>

<% include partials/footer %>